.contenedor{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    width: 80vw;
    min-height: 100vh;
    border: 1px solid blue;
    margin: 0 auto;

    header{
        grid-column: 1 / 4;
        min-height: 15%;
        border: 1px solid yellow;
        box-sizing: border-box;
    }

    .aside1{
        grid-column: 1 / 2;
        min-height: 70%;
        border: 1px solid red;
        box-sizing: border-box;
    }

   
   
}